rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && 
             (request.auth.token.email == 'kidcap1001@naver.com' || 
              request.auth.token.email == 'kidcap1002@naver.com');
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
